* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-image: url('https://fyre.cdn.sewest.net/dragon-quest-hub/647e232baed7bb35a299af31/media-background-XF5Va5e2D.jpg?quality=85&width=3840');
    background-size: cover;  /* Make sure the background covers the entire page */
    background-position: right top; /* Position it to account for the sidebar */
    background-attachment: fixed; /* Keep the background fixed as you scroll */
    background-repeat: no-repeat;
    
    /* margin-left: 200px; Leave space for the sidebar */
  }
  
  /* Sidebar styling */
  .sidebar {
    width: 200px;
    background-color: #333;
    color: gray;
    padding: 15px;
    position: fixed; /* Keep the sidebar fixed on the left */
    height: 100%; /* Make the sidebar full height */
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: lightcoral;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #575757;
  }

  .monster-families {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;

  }

  .big-title {
    font-size: 50px;
    font-weight: bolder;
  }

  .less-big-title {
    font-size: 35px;
    font-weight: bold;
  }

  .monster-family {
    border: 2px solid brown;
    background-color: gray;
    padding: 0.5rem;
  }
  
  /* Main content styling */
  .main-content {
    margin-left: 200px; /* Add margin to the left to account for the sidebar width */
    padding: 10px;
  }
  
  .main-content h1 {
    margin-bottom: 20px;
  }

  #suggestions {
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  
  .no-match {
    padding: 8px;
    color: gray;
  }
  
  #monster-search {
    justify-content: center;
    display: block;
    margin: 2px auto;
    width: 100%;
    height: 50px;
    font-size: 18px;
  
  }
  #monster-search-button {
    justify-content: center;
    display: block;
    margin: 2px auto;
    width: 100%;
    height: 50px;
    font-size: 18px;
  }

  #monster-project-stats-button{
    justify-content: center;
    display: block;
    margin: 5px auto;
    width: 75%;
    height: 35px;
    font-size: 20px;
  }

  .monster-stats-info{
    background-color: rgba(128, 128, 128, 0.75);
    justify-content: center;
    text-align: center;
    padding: 5px;
  }
  #monster-name, #monster-family {
    font-weight: bold;
    text-align: center;
  }
  table{
    width: 100%;
  }
  table td {
    width: 50%;
    text-align: center;
  }
  .suggestion-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion-item:hover,
  .suggestion-item.highlight {
    background-color: #e0e0e0;
  }